div {
    height: 500px;
    width: 100%;
    margin: 0px;
    border: 0px;
    padding: 0px 0px 0px 0px;
  
}

#div1   {
    
    background-color: rgb(25, 25, 80);
    text-align: center;
    
}
#div2   {
    background-color: rgb(46, 46, 82);
}
#div3{
    background-color: rgb(72, 72, 114);
}
#div4{
    background-color: rgba(34, 34, 54, 0.514);
}
#div5{
    background-color: rgb(9, 9, 14);
    
}

body    {   
    padding: 0;
    margin: 0;
    
    
}

ul  {
    margin: 0;
    padding: 0;
    position: relative;
    top: 50%;
    left: 30%;

    font-size: 80px;
    
   
}
ul li{
    list-style: none;
    float: left;
    margin: 50px;
}
