<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<title>Country Guess Game</title>
		<link rel="stylesheet" type="text/css" href="/stylesheets/cgg.css">
	</head>
	<body>
		<div id="container">
			
		</div>

		<footer><p>Maps by <a href = "http://freevectormaps.com">Free Vector Maps</a></p></footer>
		<script type="text/javascript" src="/javascripts/objects.js"></script>
		<script type="text/javascript" src="/javascripts/cggscript.js"></script>
	</body>
</html>