<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<title>Country Guess Game</title>
		<link rel="stylesheet" type="text/css" href="/stylesheets/cggabout.css">
	</head>
	<body>
		<div id="container">
			<h1>About</h1>
			
		</div>

		<footer><p id = "contact">Contact: doubleope@gmail.com</p></footer>
		
	</body>
</html>