<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<title>Country Guess Game</title>
		<link rel="stylesheet" type="text/css" href="/stylesheets/cggabout.css">
	</head>
	<body>
		<div id="container">
			<h1>About</h1>
			<p>Hi, my name is Peter. Thanks for visiting the page. I'm from a different part of
				the world and since I got here, I realized that so many people here don't know much about the rest of the world.
				Reading about other countries could be sometimes boring so I created this game
				to encourage people to learn more about them. It is a very hard game but I hope
				you learn through it. Click on the Easy mode and you can use that means to learn
				about their maps too. If you found a bug or have any question or suggestions email me at 
				<span id = "email">doubleope@gmail.com</span>. You can contribute
				to the project <a href = "https://github.com/doubleope/CountryGuessGame">here</a>. Thank you!
			
			</p>
		</div>

		<footer><p id = "contact">Contact: doubleope@gmail.com</p></footer>
		
	</body>
</html>