<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<title>Country Guess Game</title>
		<link rel="stylesheet" type="text/css" href="/stylesheets/cgg.css">
	</head>
	<body>
		<div id="container">
				<div id = "heading">
						<h1>Country Guess Game</h1>
						<h2>Can you guess a country by the shape of its map?</h2>
						<h2>
							Guess What the Map of <span id="country-display"></span> Is
						</h2>
					</div>
			
			<div id="bar">
				<button class="mode-button selected">Easy</button>
				<span id="message"></span>
				<button class="mode-button" id ="hard">Hard</button>
			</div>

			<div id="play-again"></div>
			
			<div class="maps"><img id = "map1" src="" class="map" alt="Map of a Country"></div>
			<div class="maps"><img id = "map2" src="" class="map" alt="Map of a Country"></div>
			<div class="maps"><img id = "map3" src="" class="map" alt="Map of a Country"></div>
			<div class="maps"><img id = "map4" src="" class="map" alt="Map of a Country"></div>
			<div class="maps"><img id = "map5" src="" class="map" alt="Map of a Country"></div>
			<div class="maps"><img id = "map6" src="" class="map" alt="Map of a Country"></div>
			
		</div>

		<footer><p id = "p-for-attribution">Maps by <a href = "http://freevectormaps.com">Free Vector Maps</a></p>
			<p id = "contact">Contact: doubleope@gmail.com</p>
		<p id = "p-for-about">Read the motivation behind this project <a href = "/cgg/about">here</a></p>
		</footer>
		<script type="text/javascript" src="/javascripts/objects.js"></script>
		<script type="text/javascript" src="/javascripts/cggscript.js"></script>
	</body>
</html>