<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    
        <title>Opeyemi Peter Openiyi</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel = "stylesheet" type = "text/css" href = "/stylesheets/fontawesome-free-5.9.0-web/css/all.css">
        <link rel="stylesheet" type="text/css" href="/stylesheets/index.css">
       
    </head>
    <body>
        <div id="card-background">
          <div id = "intro" class="card text-right col-sm-12">
            <div class="card-body">
                <h1 class="card-title" id = "name"><span class="textincard">Hello, my name is </span>Opeyemi Peter Openiyi</h1>
                <p class = "card-text textincard">but you can call me Peter.</p>
                <p class="card-text textincard">I am currently an undergraduate</p>
                <p class="card-text textincard">studying Computer Science.</p>
                <p class="card-text textincard">I love to create.</p>
                <a href="#projects" class="btn btn-primary">Checkout some of my work</a>
            </div>
          </div>

            <div id = "card-background-top" class="row colors">

            </div>
            <div id = "card-background-bottom" class="colors">

            </div>
        </div>
        <div id = "projects" class="colors">
            <h1 class = "projects-heading">Some Projects</h1>
            <div class="card-deck">
                <div class="card mycard d-flex justify-content-center flex-direction: column" id = "mycard">
                    <i id = "double" class="fas fa-briefcase"></i>
                  <div class="card-body">
                    <h5 class="project-card-heading">DoubleOpe.com (This Website)</h5>
                    <p class="project-card-body">My personal website</p>
                    <a href="https://github.com/doubleope/DoubleOpe.com" class="btn btn-primary">View Code</a>
                  </div>
                </div>
                <div class="card mycard d-flex justify-content-center flex-direction: column">
                    <i id = "game" class="fas fa-globe"></i>
                  <div class="card-body">
                    <h5 class="project-card-heading">Country Guess Game</h5>
                    <p class="project-card-body">A game designed to encourage people to learn more about the world</p>
                    <a href="/cgg" class="btn btn-primary">Go to Website</a>
                    <a href="https://github.com/doubleope/CountryGuessGame" class="btn btn-primary">View Code</a>
                  </div>
                </div>
                <div class="card mycard" id = "terminal-card-body">
                  
                    <i id = "terminal" class="fas fa-terminal"></i>
                  <div class="card-body">
                    <h5 class="project-card-heading">BashTerminal.com</h5>
                    <p class="project-card-body">Tutorial website for beginners in Linux</p>
                    <a href="http://www.bashterminal.com" class="btn btn-primary">Go to Website</a>
                    <a href="https://github.com/doubleope/BashTerminal.com" class="btn btn-primary">View Code</a>
                  </div>
                
                </div>
               
              </div>
        </div>
        <div id = "links-background" class="row d-flex justify-content-center align-items-center flex-wrap colors">
            
            <ul class = "d-flex justify-content-center align-items-center flex-wrap">
              <li onclick="location.href='https://github.com/doubleope';"><i class="fab fa-github"aria-hidden="true"></i><p class = "p-animation">My Github</p></li>
              <li onclick="location.href='https://www.linkedin.com/in/opeyemi-openiyi';"> <i class="fab fa-linkedin"aria-hidden="true"></i><p class = "p-animation">My LinkedIn</p></li>      
            </ul>        
                            
        </div>

        
        <div id = "div5" class = "d-flex justify-content-center flex-direction: column"> <p id = "for-footer">Contact: doubleope@gmail.com</p></div>
 
    </body>
</html
