html {
    margin-top: 0px;
    padding-top: 0px;
    width: 100%;
    height: 100%;
}

body{
    background-color: cadetblue;
    margin: 0px 0px 0px 0px;
    padding-top: 0px;
    width: 100%;
    height: 100%;
}

footer {
    background: rgb(5, 61, 63);
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    box-shadow: 50px 10px;
    color: white;
    height: 5%;
    display: table;
    box-shadow: 0 1rem 5rem rgba(0, 0, 0, 3);
}

#contact {
    text-align: center;
}


#container {
    
    background: white;
    margin: auto;
    margin-top: 10%;
    width: 45%;
    border-radius: 5%;
    background: rgb(146, 145, 145);
    box-shadow: 0 1rem 5rem rgba(0, 0, 0, 0.8);
    height: 50%;
    padding: 2%;
    font-family: cursive;
    font-size: 2em;
}

#container > h1 {
    text-align: center;
    font-family: cursive;
    margin: 0;
    padding: 0;
}

#email {
    color: white;
}

@media only screen and (max-width: 1024px) {
    #container {
        height: 35%;
        font-size: 1.8em;
        width: 70%;
    }
}
@media only screen and (max-width: 768px) {
    #container {
        height: 40%;
        font-size: 1.5em;
        width: 70%;
    }
    
}

@media only screen and (max-width: 414px) {
    #container {
        height: 70%;
        font-size: 1.23em;
        width: 70%;
    }
    
}

@media only screen and (max-width: 375px) {
    #container {
        height: 80%;
        font-size: 1.23em;
        width: 70%;
    }
    
}
@media only screen and (max-width: 360px) {
    #container {
        height: 80%;
        font-size: 1.18em;
        width: 70%;
    }
    
}
@media only screen and (max-width: 320px) {
    #container {
        height: 80%;
        font-size: 1em;
        width: 70%;
    }
    
}